@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

#landingPage {
  width: 100%;
  height: 100vh;
  position: relative;
}

#landingPageContent {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#landingPageTitle {
  font-size: 70px;
  margin: 0px 0px 10px;
}

#landingPageSubTitle {
  font-size: 35px;
  margin: 0;
  color: grey;
}

#bubbleHolder {
  width: 100%;
  height: 0;
  position: relative;
}

.bubbles {
  width: 150px;
  height: 150px;
  border-radius: 5px 40px 5px;
  position: absolute;
}

#bubble1 {
  top: -78px;
  left: -75px;
  background-color: rgba(248, 127, 26, 0.2);
}
#bubble2 {
  top: -84px;
  left: calc(5% - 75px);
  background-color: rgba(248, 183, 26, 0.2);
}
#bubble3 {
  top: -95px;
  left: calc(10% - 75px);
  background-color: rgba(235, 25, 58, 0.2);
}
#bubble4 {
  top: -42px;
  left: calc(15% - 75px);
  background-color: rgba(248, 127, 26, 0.2);
}
#bubble5 {
  top: -68px;
  left: calc(20% - 75px);
  background-color: rgba(248, 183, 26, 0.2);
}
#bubble6 {
  top: -77px;
  left: calc(25% - 75px);
  background-color: rgba(235, 25, 58, 0.2);
}
#bubble7 {
  top: -115px;
  left: calc(30% - 75px);
  background-color: rgba(248, 127, 26, 0.2);
}
#bubble8 {
  top: -81px;
  left: calc(35% - 75px);
  background-color: rgba(248, 183, 26, 0.2);
}
#bubble9 {
  top: -54px;
  left: calc(40% - 75px);
  background-color: rgba(235, 25, 58, 0.2);
}
#bubble10 {
  top: -124px;
  left: calc(45% - 75px);
  background-color: rgba(248, 127, 26, 0.2);
}
#bubble11 {
  top: -103px;
  left: calc(50% - 75px);
  background-color: rgba(248, 183, 26, 0.2);
}
#bubble12 {
  top: -94px;
  left: calc(55% - 75px);
  background-color: rgba(235, 25, 58, 0.2);
}
#bubble13 {
  top: -113px;
  left: calc(60% - 75px);
  background-color: rgba(248, 127, 26, 0.2);
}
#bubble14 {
  top: -45px;
  left: calc(65% - 75px);
  background-color: rgba(248, 183, 26, 0.2);
}
#bubble15 {
  top: -91px;
  left: calc(70% - 75px);
  background-color: rgba(235, 25, 58, 0.2);
}
#bubble16 {
  top: -72px;
  left: calc(75% - 75px);
  background-color: rgba(248, 127, 26, 0.2);
}
#bubble17 {
  top: -113px;
  left: calc(80% - 75px);
  background-color: rgba(248, 183, 26, 0.2);
}
#bubble18 {
  top: -49px;
  left: calc(85% - 75px);
  background-color: rgba(235, 25, 58, 0.2);
}
#bubble19 {
  top: -69px;
  left: calc(90% - 75px);
  background-color: rgba(248, 127, 26, 0.2);
}
#bubble20 {
  top: -83px;
  left: calc(95% - 75px);
  background-color: rgba(248, 183, 26, 0.2);
}
#bubble21 {
  top: -70px;
  left: calc(100% - 75px);
  background-color: rgba(235, 25, 58, 0.2);
}

#jokePage {
  width: 100%;
  height: 900px;
  position: relative;
}

#jokeHolder {
  max-width: 600px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#joke {
  font-size: 50px;
}

#jokeHighlight {
  color: rgb(235, 25, 58);
}

#answerHolder {
  max-width: 600px;
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#answer {
  font-weight: 400;
  font-size: 150px;
}

#answerHighlight {
  color: rgba(0, 0, 0, 0.085);
}


/* all css gradients from https://larsenwork.com/easing-gradients/ */
#skyGradient {
  background: linear-gradient(
    to bottom,
    hsl(0, 0%, 100%) 0%,
    hsl(220.18, 2.88%, 99.38%) 8.1%,
    hsl(220.17, 2.9%, 97.61%) 15.5%,
    hsl(220.16, 2.95%, 94.82%) 22.5%,
    hsl(220.14, 3.01%, 91.09%) 29%,
    hsl(220.12, 3.09%, 86.51%) 35.3%,
    hsl(220.08, 3.2%, 81.14%) 41.2%,
    hsl(220.03, 3.35%, 75.04%) 47.1%,
    hsl(219.96, 3.53%, 68.27%) 52.9%,
    hsl(219.86, 3.79%, 60.89%) 58.8%,
    hsl(219.69, 4.14%, 52.98%) 64.7%,
    hsl(219.4, 5.77%, 44.61%) 71%,
    hsl(218.86, 9.66%, 35.93%) 77.5%,
    hsl(217.68, 17.86%, 27.24%) 84.5%,
    hsl(214.68, 37.57%, 19.13%) 91.9%,
    hsl(209.41, 71.83%, 13.92%) 100%
  );
  width: 100%;
  height: 400px;
}

#sky {
  background: hsl(209.41, 71.83%, 13.92%);
  height: 700px;
  position: relative;
}

#moon {
  width: 220px;
  position: absolute;
  top: 20%;
  left: 25%;
}

#treeSwing {
  position:absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
}

#house {
  position: absolute;
  bottom: -10px;
  left: 65%;
  transform: translateX(-50%);
  width: 100px;
}

#tree {
  position: absolute;
  width:100%;
  bottom:0;
}

#swing {
  position: absolute;
  width: 40px;
  right: 105px;
  bottom: 60px;

  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center 0;
}

@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

#ground {
  width: 100%;
  height: 300px;
  background-color: rgb(0, 0, 0);
}

#returnGradient {
  height: 200px;
  background: linear-gradient(
    to bottom,
    hsl(0, 0%, 0%) 0%,
    hsl(0, 0%, 11.29%) 8.1%,
    hsl(0, 0%, 22.04%) 15.5%,
    hsl(0, 0%, 32.25%) 22.5%,
    hsl(0, 0%, 41.88%) 29%,
    hsl(0, 0%, 50.92%) 35.3%,
    hsl(0, 0%, 59.33%) 41.2%,
    hsl(0, 0%, 67.09%) 47.1%,
    hsl(0, 0%, 74.16%) 52.9%,
    hsl(0, 0%, 80.5%) 58.8%,
    hsl(0, 0%, 86.07%) 64.7%,
    hsl(0, 0%, 90.81%) 71%,
    hsl(0, 0%, 94.66%) 77.5%,
    hsl(0, 0%, 97.54%) 84.5%,
    hsl(0, 0%, 99.36%) 91.9%,
    hsl(0, 0%, 100%) 100%
  );
}

#spacer {
  height: 110px;
}

#aboutMe {
  width: 100%;
  height: 100vh;
  position: relative;
}

#aboutMeContent {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#aboutMeImage {
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
  box-shadow: 0 0 13px black;
}

#aboutMeTitle {
  font-size: 60px;
  margin: 0px 0px 10px;
}

#aboutMeSubTitle {
  font-size: 35px;
  margin: 0;
  color: grey;
}

#oops {
  height: 300px;
  text-align: center;
}

#oopsTitle {
  font-size: 250px;
  margin: 0px 0px 10px;
}

#storyPage {
  width: 100%;
  height: 500px;
  position: relative;
}

#storyHolder {
  max-width: 600px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#story {
  font-size: 50px;
}

#tearImageHolder {
  height: 250px;
  position: relative;
}

#tearSearchImage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 0 13px black;
}

#woah {
  height: 400px;
  text-align: center;
}

#woahTitle {
  font-weight: bold;
  font-size: 400px;
  margin: 0px 0px 10px;
  line-height: 1;
}

#anagramHolder {
  text-align: center;
}

#anagram {
  font-size: 35px;
  margin: 0;
}

#thirdGradient {
  height: 200px;
  background: linear-gradient(
    to bottom,
    hsl(0, 0%, 100%) 0%,
    hsl(214.49, 23.25%, 99.78%) 8.1%,
    hsl(214.47, 23.32%, 99.17%) 15.5%,
    hsl(214.43, 23.43%, 98.21%) 22.5%,
    hsl(214.39, 23.57%, 96.95%) 29%,
    hsl(214.33, 23.75%, 95.46%) 35.3%,
    hsl(214.26, 23.95%, 93.78%) 41.2%,
    hsl(214.18, 24.18%, 91.97%) 47.1%,
    hsl(214.1, 24.43%, 90.08%) 52.9%,
    hsl(214.01, 24.69%, 88.18%) 58.8%,
    hsl(213.91, 24.95%, 86.35%) 64.7%,
    hsl(213.82, 25.2%, 84.66%) 71%,
    hsl(213.74, 25.42%, 83.18%) 77.5%,
    hsl(213.67, 25.61%, 82.02%) 84.5%,
    hsl(213.62, 25.73%, 81.25%) 91.9%,
    hsl(213.6, 25.77%, 80.98%) 100%
  );
}

#overcast {
  width: 100%;
  height: 100vh;
  position: relative;
  background: hsl(213.6, 25.77%, 80.98%);
  overflow: hidden;
}

#clouds {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
}

#weather {
  max-width: 400px;
  font-size: 60px;
  margin: 0;
  color: white;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

#snow {
  height: 35px;
  width: 100%;
  position: absolute;
  bottom: 20px;
  background: white;
}

#grass {
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: 15px;
  background: rgb(86, 105, 13);
}

#dirt {
  height: 15px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgb(61, 31, 10);
}

#swing2 {
  position: absolute;
  width: 40px;
  right: 105px;
  bottom: 60px;

  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center 0;
}
